<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="copyright">
        <img class="copyright-logo" src="/assets/avi-logo.jpg" />
        <span class="copyright-text"><%= yield %></span>
      </div>
    </div>
  </div>
</div>
